.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
results*
*.png
*.csv
*.tsv
*.sh
*.bak
adhoc_analysis/*
bin/archive/*
adhoc_scripts/*
*/archive/*
.params*
*.error
*.out
test_data/*