/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    BCCDC-PHL/wasteflow2 Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                        = null

    // MultiQC options
    skip_multiqc                 = false
    multiqc_config               = null
    multiqc_title                = null
    multiqc_logo                 = null
    max_multiqc_email_size       = '25.MB'
    multiqc_methods_description  = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    trace_report_suffix          = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    // Config options
    config_profile_name          = null
    config_profile_description   = null

    custom_config_version        = 'master'
    custom_config_base           = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact       = null
    config_profile_url           = null

    // Schema validation default options
    validate_params              = true


    // Prepare Genome options
    genomes                      = [
        'MN908947.3': [
            name: 'MN908947.3',
            fasta: '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/GCA_009858895.3_ASM985889v3_genomic.200409.fna.gz',
            gff: '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz',
            nextclade_dataset_name: 'sars-cov-2',
            nextclade_dataset_tag: 'latest',
            bed: "${projectDir}/assets/sarscov2_genes.bed",
            segment_gffs: null,
        ],
        'OP975389.1': [
            name: 'OP975389.1',
            fasta: '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/OP975389.1_RSVb.fna.gz',
            gff: '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/OP975389.1_RSVb.gff.gz',
            nextclade_dataset_name: 'rsv_b',
            nextclade_dataset_tag: 'latest',
            bed: "${projectDir}/assets/rsvB_genes.bed",
            segment_gffs: null,
        ],
        'PP109421.1': [
            name: 'PP109421.1',
            fasta: '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/PP109421.1_RSVa.fna.gz',
            gff: '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/PP109421.1_RSVa.gff.gz',
            nextclade_dataset_name: 'rsv_a',
            nextclade_dataset_tag: 'latest',
            segments_bed: "${projectDir}/assets/rsvA_genes.bed",
            segment_gffs: null,
        ],
        'RSV_combined': [
            name: 'RSV_combined',
            fasta: '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/OP975389.1_PP109421.1.fna.gz',
            gff: null,
            nextclade_dataset_name: null,
            nextclade_dataset_tag: null,
            bed: null,
            segment_gffs: null,
        ],
        'panel_control_db': [
            name: 'panel_control_db',
            fasta: '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/panel_plus_control.fa.gz',
            gff: null,
            nextclade_dataset_name: null,
            nextclade_dataset_tag: null,
            bed: null,
            segment_gffs: null,
        ],
        'H1N1': [
            name: 'H1N1',
            fasta: '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h1n1_nextstrain/reference.fa',
            gff: null,
            nextclade_dataset_name: null,
            nextclade_dataset_tag: null,
            bed: "${projectDir}/assets/h1n1_segments.bed",
            segment_gffs: [
                'PB2': '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h1n1_nextstrain/NC_026438.1.gff',
                'PB1': '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h1n1_nextstrain/NC_026435.1.gff',
                'PA':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h1n1_nextstrain/NC_026437.1.gff',
                'HA':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h1n1_nextstrain/NC_026433.1.gff',
                'NP':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h1n1_nextstrain/NC_026436.1.gff',
                'NA':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h1n1_nextstrain/NC_026434.1.gff',
                'M':   '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h1n1_nextstrain/NC_026431.1.gff',
                'NS':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h1n1_nextstrain/NC_026432.1.gff'
            ]
        ],
        'H3N2': [
            name: 'H3N2',
            fasta: '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h3n2_nextstrain/reference.fa',
            gff: null,
            nextclade_dataset_name: null,
            nextclade_dataset_tag: null,
            bed: "${projectDir}/assets/h3n2_segments.bed",
            segment_gffs: [
                'PB2': '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h3n2_nextstrain/NC_007373.1.gff',
                'PB1': '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h3n2_nextstrain/NC_007372.1.gff',
                'PA':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h3n2_nextstrain/NC_007371.1.gff',
                'HA':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h3n2_nextstrain/CY163680.1.gff',
                'NP':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h3n2_nextstrain/NC_007369.1.gff',
                'NA':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h3n2_nextstrain/CY114383.1.gff',
                'M':   '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h3n2_nextstrain/NC_007367.1.gff',
                'NS':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h3n2_nextstrain/NC_007370.1.gff'
            ]
        ],
        'H5N1': [
            name: 'H5N1',
            fasta: '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h5n1_nextstrain/reference.fa',
            gff: null,
            nextclade_dataset_name: null,
            nextclade_dataset_tag: null,
            bed: "${projectDir}/assets/h5n1_segments.bed",
            segment_gffs: [
                'PB2': '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h5n1_nextstrain/NC_007357.1.gff',
                'PB1': '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h5n1_nextstrain/NC_007358.1.gff',
                'PA':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h5n1_nextstrain/NC_007359.1.gff',
                'HA':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h5n1_nextstrain/NC_007362.1.gff',
                'NP':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h5n1_nextstrain/NC_007360.1.gff',
                'NA':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h5n1_nextstrain/NC_007361.1.gff',
                'M':   '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h5n1_nextstrain/NC_007363.1.gff',
                'NS':  '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/h5n1_nextstrain/NC_007364.1.gff'
            ]
        ]
    ]
    skip_snpeff                  = false

    // Read QC options
    skip_read_processing         = false

    // FASTP options
    skip_fastp                   = false
    discard_trimmed_pass         = false
    save_trimmed_fail            = true
    save_merged                  = false

    // Control oligo QC options
    skip_control_oligo_qc        = false
    probe_panel_db_path          = "/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/oligo_qc/panel_plus_control.fa"

    // Taxonomic classification options
    skip_taxonomy_classification = false
    skip_taxonomy_qc             = false
    skip_target_extraction       = false
    skip_kraken2                 = false
    kraken2_db                   = '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/k2_minusb_20250402'
    kraken2_db_name              = 'k2_minusb'
    kraken2_variants_host_filter = true
    kraken2_assembly_host_filter = true
    kraken2_targets              = '2697049,3049954,11308'
    combine_kraken2_reports      = true
    skip_bracken                 = false

    // Alignment options
    skip_alignment               = false
    min_mapped_reads             = 10

    // BAM QC options
    skip_alignment_stats         = false
    skip_mosdepth                = false
    skip_bam_qc                  = false
    skip_markduplicates          = true
    skip_picard_metrics          = false

    // Influenza typing options
    skip_influenza_serotyping    = false
    flu_db_fasta                 = '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/DBs/v1.25/Influenza_A_segment_sequences.fna'
    flu_db_info                  = '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/DBs/v1.25/Influenza_A_segment_info1.tsv'
    score_threshold              = 0.9

    // Variant calling options
    skip_variants                = false
    save_mpileup                 = false

    // Freyja options
    skip_freyja                  = false
    skip_freyja_boot             = true
    freyja_repeats               = 100
    freyja_depthcutoff           = 0

    // SARS-CoV-2 Freyja databases (existing or new)
    freyja_db_name_sars_cov2     = 'freyja_db'
    freyja_barcodes_sars_cov2    = '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/freyja_db/usher_barcodes.feather'
    freyja_lineages_sars_cov2    = '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/freyja_db/curated_lineages.json'

    // RSV-A Freyja databases
    freyja_db_name_rsv_a         = 'freyja_db_RSVa'
    freyja_barcodes_rsv_a        = '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/freyja_db_RSVa/RSVa_barcodes.csv'

    // RSV-B Freyja databases
    freyja_db_name_rsv_b         = 'freyja_db_RSVb'
    freyja_barcodes_rsv_b        = '/scratch/st-jzlosnik-1/mzanwar/safeguard/workflow/databases/freyja_db_RSVb/RSVb_barcodes.csv'

    // genome_bed files
    sars_cov2_bed = 'assets/sarscov2_genes.bed'
    rsv_a_bed = 'assets/rsvA_genes.bed'
    rsv_b_bed = 'assets/rsvB_genes.bed'
    h1n1_bed = 'assets/h1n1_segments.bed'
    h3n2_bed = 'assets/h3n2_segments.bed'
    h5n1_bed = 'assets/h5n1_segments.bed'

    // Metadata file for heatmaps
    //metadata = 'safeguard_metadata_structured.tsv'
    metadata = null
    metadata_filter = null
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'


profiles {
    debug {
        dumpHashes                                   = true
        process.beforeScript                         = 'echo $HOSTNAME'
        cleanup                                      = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        conda.channels       = ['conda-forge', 'bioconda']
        apptainer.enabled    = false
    }
    mamba {
        conda.enabled        = true
        conda.useMamba       = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    docker {
        docker.enabled       = true
        conda.enabled        = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled       = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    shifter {
        shifter.enabled      = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    charliecloud {
        charliecloud.enabled = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        apptainer.enabled    = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions      = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions   = '--nv'
        singularity.runOptions = '--nv'
    }
    sockeye     { includeConfig 'conf/sockeye.config'     }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load BCCDC-PHL/wasteflow2 custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// Load BCCDC-PHL/wasteflow2 custom profiles from different institutions.
// TODO nf-core: Optionally, you can add a pipeline-specific nf-core config at https://github.com/nf-core/configs
// includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/wasteflow2.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry = 'quay.io'
docker.registry = 'quay.io'
podman.registry = 'quay.io'
singularity.registry = 'quay.io'
charliecloud.registry = 'quay.io'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",
    "-e",
    "-u",
    "-o",
    "pipefail",
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    fields  = 'task_id,process,name,exit,status,hash,workdir'
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'BCCDC-PHL/wasteflow2'
    contributors    = [
        [
            name: 'Zohaib Anwar',
            affiliation: '',
            email: '',
            github: '',
            contribution: [],
            orcid: '',
        ]
    ]
    homePage        = 'https://github.com/BCCDC-PHL/wasteflow2'
    description     = """Nextflow pipeline for pathogen surveillance in wastewater"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.10.4'
    version         = '1.0.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.2.0'
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs      = params.monochrome_logs
    help {
        enabled             = true
        command             = "nextflow run BCCDC-PHL/wasteflow2 -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter       = "help_full"
        showHiddenParameter = "show_hidden"
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
