/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Sockeye
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/seqqc -profile sockeye,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'sockeye'
    config_profile_description = 'sockeye'

    // Define max resource allocations based on available compute resources on Sockeye


}

process {
    executor = 'slurm'
    clusterOptions = '--account=st-jzlosnik-1 --nodes=1'  // Change this to your account name
    containerOptions = '--cleanenv --no-home'

}

executor {
    queueSize = 100
    submitRateLimit = '10 sec'
}